.header {
  background-color: #1F2937;
  padding: 0 30rem;
  margin-bottom: 5rem;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header__logo {
  color: #F9FAF8;
  font-size: 2.4rem;
}
.header__menu {
  display: flex;
  flex-direction: row;
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-item a {
  color: #E5E7EB;
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 300;
}

.header__main {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 10rem 0;
}

.header__main-left {
  width: 50%;
}

.header__title {
  font-size: 4.8rem;
  color: #F9FAF8;
  font-weight: 700;
}

.header__desc {
  font-size: 1.8rem;
  color: #E5E7EB;
  font-weight: 300;
}

.header__btn {
  color: #FFF;
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  font-size: 1.65rem;
  padding: .75rem 2.5rem;
  margin-top: 1rem;
}
.header__btn:hover {
  cursor: pointer;
}

.header__main-right {
  width: 50%;
  background-color: #6D747D;
}

.header__img-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__img-placeholder span {
  font-size: 1.8rem;
  color: #E5E7EB;
}