.landing {
height: 50vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 5rem;
}

.landing__btn {
  color: #fff;
  background-color:rgb(55, 85, 216);
  font-size: 5rem;
  padding: 10rem;
  text-decoration: none;
  border-radius: 5px;
  transition: .3s ease;
}

.landing__btn:hover {
  transform: scale(1.2);

}