.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
.quote__text {
  color: #1F2937;
  font-weight: 300;
  font-size: 3.6rem;
}
.quote__author {
  text-align: right;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1F2937;
}