body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid red;
  border-radius: 10px;
}
h1 {
  font-size: 30px;
}
img {
  width: 200px;
  border: 1px solid blue;
  border-radius: 10px;
}